@{
    Layout = null;
}

<div class="list-group">
    <a href="#" class="list-group-item active" >菜单管理</a>

    <a href="/MenuManage" class="list-group-item">
        <span class="glyphicon glyphicon-list"></span> 查看列表
    </a>

</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">帮助提示</h3>
    </div>
    <div class="panel-body">
        帮助内容
    </div>
</div>